html, body {
	width: 100%;
	height: 100%;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.login-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
}

.login-wrapper h1 {
	text-align: center;
	color: #555;
}

.text-wrapper {
	display: flex;
	flex-flow: row wrap;
}

.text-wrapper a {
	display: inline-block;
	margin: 0 auto;
	color: #555;
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
}

.user-name-box, .user-pwd-box {
	position: relative;
}

.user-name-box ion-icon,
.user-pwd-box ion-icon {
	position: absolute;
	top: 7px;
	left: 8px;
	color: #ccc;
	font-size: 24px;
}

input {
	box-sizing: border-box;
	display: block;
	height: 40px;
	width: 240px;
	margin: 25px auto;
	border: 1px solid #ccc;
	border-radius: 2px;
	line-height: 40px;
	font-size: 14px;
	outline: none;
}

input[type="text"], input[type="password"] {
	padding-left: 35px;
}

input[type="button"] {
	background-color: #60acfc;
	color: #fff;
	cursor: pointer;
}

.msg {
	font-size: 14px;
	padding-left: 25px;
	color: #333;
}